#homeList{
    background-color: blanchedalmond;
    list-style-type: none;
}
.noSpace{
    display: inline;
    margin: auto 25px;
}
#restartButton{
    display: flex;
    height: 20px;

}
table{
    border: solid;
    margin: auto;
    border-collapse: collapse;
}
td{
    color: blueviolet;
    height: 100px;
    width: 100px;
    text-align: center;
    border: solid;
}